@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
  
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.hero {
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

footer {
    background-color: #1F2937;
}