@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
  
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.hero {
    background-color: #1F2937;
    
    display: flex;
    flex-direction: column;

    padding: 16px 200px;
    gap: 80px;
}

/* Top section of the hero */
.top {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style-type: none;

    display: flex;
    gap: 15px;
}.logo {
    font-size: 24px;
    color: #f9faf8;
}

ul a {
    text-decoration: none;
}

/* Bottom section of the hero */

.bottom {
    display: flex;
    justify-content: space-between;
}

.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

footer {
    background-color: #1F2937;
}